:root {
    font-family: 'Roboto', sans-serif;
}

/* MAIN */

.main-grid {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 260px auto;
}

.sidebar {
    height: auto;
    background-color: #365fc7;
}

.content {
    height: auto;
    overflow: auto;
    background-color: #f5f5f5;
}


/* SIDEBAR */

.sidebar {
    color: #ffffff;
}

.app-title {
    margin: 16px;
}

.icon-text-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: 48px auto;
}

.icon-text-grid h1,
.icon-text-grid p {
    margin: 0;
    line-height: 48px;
}

.icon-text-grid h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.icon-text-grid .icon {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.sidebar ul {
    margin-top: 40px;
}

li.icon-text-grid {
    padding: 0 16px;
}

li.icon-text-grid .icon {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.sidebar li:hover {
    background-color: #2e4d9b;
}


/* HEADER */

header {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(12, 1fr);
    padding: 16px;
    background-color: #ffffff;
}

header > div {
    height: 48px;
    background-color: aqua;
}

.span-icon {
    grid-column: span 1;
}

.span-input {
    grid-column: span 8;
}

.span-username,
.span-user-info {
    display: flex;
    flex-flow: row wrap;
}

.span-username {
    grid-column: span 3;
}

.span-user-info {
    grid-column: span 6;
}

.span-button {
    grid-column: span 2;
}

/* CONTENT */

.content-main {
    display: grid;
    grid-template-columns: minmax(360px, 3fr) minmax(360px, 1fr);
    padding: 24px;
}

.projects-grid {
    overflow: auto;
    display: grid;
    gap: 24px;
    padding: 8px;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects {
    background-color: palegreen;
}

.extras {
    padding: 0 8px 0 16px;
    background-color: pink;
}

.content-title {
    font-size: 1.125rem;
    font-weight: 700;
}

.projects .content-title {
    padding-left: 8px;
}

.extras .content-title {
    margin-bottom: 8px;
}

.extras > div {
    margin-bottom: 32px;
}

.card {
    padding: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}